@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

* {
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: #4d4dd4;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 10px;
    text-shadow: 2px 1px 1px #fff;
}

form {
    margin: 0 auto;
    text-align: start;
    width: 80%;
}

.search {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    transition: top 0.5s ease-out;
}

.submit {
    top: 5%;
}

.suggestionsDiv {
    height: 50vh;
    position: absolute;
    width: 100vw;
}

.suggestions {
    list-style: none;
    font-size: 25px;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    cursor: pointer;
    margin-top: 5px;
}

.suggestion {
    background-color: #6363b3;
    border-radius: 1em;
    margin-bottom: 4px;
}

input[type=text] {
    width: 100%;
    border: 2px solid #c14bbe;
    height: 40px;
    border-radius: 1em;
    padding: 3px;
    font-size: 1.6em;
    box-shadow: 0 3px 10px 2px;
}

.results {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

.result {
    color: inherit;
    text-decoration: none;
}

.resultBlock {
    background-color:#8fa2a2;
    height: 150px;
    padding: 5px 0 0 15px;
    margin-bottom: 20px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 4px 6px 53px 0px rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgb(121, 119, 119);
}

.resultBlock:hover {
    background-color: #ceecec;
}

h2 {
    font-size: 1.5em;
}

@media screen and (min-width: 900px) {

    h2 {
        font-size: 1.7em;
    }

    form {
        margin-left: 35%;
        text-align: start;
        width: 30vw;
    }

    .suggestions {
        width: 30.5%;
        position: absolute;
        top: 1%;
        left: 35%;
        width: 30.5%;
    }

}